# Environment variables
.env

# Python Virtual Environment
.venv/
venv/
ENV/
env/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
*.cover
.hypothesis/

# Distribution & Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE / System
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
